In [2]:
# Dependencies and modules:

import pandas as pd
import numpy as np
import statistics
import math
from scipy import stats
 

# Belize AirBnB .csv file:

belize_listings_path = "C:/Users/Nik/Documents/belize_airbnb_listings.csv"
belize_df = pd.read_csv(belize_listings_path)
belize_df.head(1)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.0,5,225

# 1. Write a function that calculates the dot product manually. 
It should accept two vectors and perform that calculation. Be sure to use try except and error handling for basic issues that might occur.

In [3]:
# Dot Product Formula: dot product of a and b = ax*bx + ay*by
# or dot product of a and b = ||a||*||b||cosa
# For a 2D vector, this is the same as matrix multiplication to get a scalar value.

def dot_product (a,b):
    try:
        if len(a)<len(b):
            r = len(a)
        else: 
            r = len(b)
                
        dot = 0 
        for i in range(r):
            dot = dot + a[i]*b[i]
        print(dot)
    except Exception as e:
            print(e)

        
v = np.array([1,2,3])
v2 = np.array([7,8,9])


dot_product(v,v2)

50

# 2. In a markdown section in your notebook, explain what one hot encoding is and why we use it. 
Then, manually calculate a one-hot encoding for the Belize_Airbnb_listings.csv neighborhood_group column and merge it back into the dataframe. Note: manually means donâ€™t use scikit learn or keras or get_dummies

In [16]:
# make a list of neighborhoods in 'neighbourhood_group' column

neighborhoods = belize_df['neighbourhood_group'].unique()
print(neighborhoods)
neighborhoods_series = belize_df['neighbourhood_group']

# take each element in group column and assign it to an integer
neighborhoods_to_int = dict((g, i) for i, g in enumerate(neighborhoods))
int_to_neighborhoods = dict((i, g) for i, g in enumerate(neighborhoods))

# encode with integers
integer_encoded = [neighborhoods_to_int[data] for data in neighborhoods_series]

onehot_encoded = list()
for value in integer_encoded:
    
    #create a matrix for each neighborhood group (6)
    neighborhood = [0 for _ in range(len(neighborhoods))]
    neighborhood[value] = 1
    onehot_encoded.append(neighborhood)
    
# Now we have a list. We turn it into a series for better use with Pandas.
encoded_series = pd.Series(onehot_encoded)

# we can now take our series and concat it with the data frame
onehot_belize = pd.concat([belize_df, encoded_series], axis="columns")
onehot_belize.columns = ['id','name','host_id','host_name','neighbourhood_group','neighbourhood','latitude','longitude','room_type','price','minimum_nights','number_of_reviews','last_review','reviews_per_month','calculated_host_listings_count','availability_365','Neighbourhood']
onehot_belize.head()

['Belize' 'Stann Creek' 'Toledo' 'Cayo' 'Corozal' 'Orange Walk']

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Neighbourhood
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.00,5,225,"[1, 0, 0, 0, 0, 0]"
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.74832,-88.02474,Entire home/apt,71,3,316,2/19/2021,2.46,5,164,"[1, 0, 0, 0, 0, 0]"
2,108932,Purple House eco solar w/ ocean & wildlife views,563377,Michael,Belize,Belize Islands,17.73221,-88.03824,Entire home/apt,191,2,30,3/14/2020,0.78,1,364,"[1, 0, 0, 0, 0, 0]"
3,110483,Michelo's fuchsia suite,567809,Michel,Stann Creek,Stann Creek Mainland,16.52114,-88.36926,Hotel room,121,1,27,2/24/2020,0.29,3,331,"[0, 1, 0, 0, 0, 0]"
4,120115,Seaside Villas Second Floor Unit #4,604999,Bobbi,Belize,Belize Islands,17.74166,-88.02395,Entire home/apt,343,1,30,3/18/2020,0.64,22,203,"[1, 0, 0, 0, 0, 0]"

# 3. (Extra Credit) Write a function that calculates the cross product manually.
It should accept two vectors and perform that calculation. Be sure to use try except and error handling for basic issues that might occur.